.p-ourwork {
  background: linear-gradient(135deg, rgba(24, 58, 147, 0.9) -20%, rgba(0, 204, 131, 0.9) 100%), url('/assets/img/banner-image/our-work.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}